.headerWrapper {
  position: relative;
  text-align: center;
  color: white;
  border: 10px solid black;
  margin-top: 2vmin;
}

.headerTextWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerText {
  font-size: 2.4em;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  text-shadow: rgb(150, 150, 150) 1px 1px 8px;
}

@media screen and (min-width: 320px) {
  .headerText {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .headerText {
    font-size: 37px;
  }
}

.heroImage {
  flex-grow: 1;
  height: 61.8vh;
  max-height: 220px;
}

.textWrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  max-width: 1180px;
  padding: 2vmin 0 5vmin 0;
}
