.hero {
  background: #000;
  position: relative;
  text-align: center;
  color: white;
}

.heroImage {
  max-height: 50vh;
  max-height: 400px;
}

.headLineWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headLine {
  font-size: 2.9em;
  text-shadow: rgb(150, 150, 150) 1px 1px 8px;
}

.subHeadLine {
  font-size: 1.6em;
  text-shadow: rgb(150, 150, 150) 1px 1px 8px;
}

.stay {
  color: red;
}
