.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-grow: 1;
  height: 100px;
  max-width: 1180px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
