header {
  background: #000;
  position: relative;
  text-align: center;
  color: white;
}

.headerImage {
  max-height: 50vh;
  max-height: 400px;
}

.headerLineWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerLine {
  font-size: 5em;
  text-shadow: rgb(150, 150, 150) 1px 1px 8px;
  font-family: 'Marcellus SC';
  max-width: 600px;
}

@media screen and (min-width: 320px) {
  .subHeadLine {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .subHeadLine {
    font-size: 22px;
  }
}

.subHeaderLine {
  text-shadow: rgb(150, 150, 150) 1px 1px 8px;
}

.stay {
  color: red;
}
