.container {
  display: grid;

  grid-template-areas:
    '. nav nav nav .'
    'header header header header header'
    '. leftSidebar content rightSidebar .'
    'footer footer footer footer footer';

  grid-template-columns: auto 0px minmax(auto, 1080px) 0px auto;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      'nav'
      'header'
      'leftSidebar'
      'content'
      'rightSidebar'
      'footer';

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Nav */
      auto /* Header */
      minmax(0px, auto) /* Left Sidebar */
      1fr /* Content */
      minmax(0px, auto) /* Right Sidebar */
      auto; /* Footer */
  }

  nav,
  aside {
    margin: 0;
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

.leftSidebar {
  grid-area: leftSidebar;
}

.rightSidebar {
  grid-area: rightSidebar;
}

footer {
  grid-area: footer;
  height: 100px;
}
