.preview {
  display: flex;
  flex-direction: row;
}

.previewTitle {
  font-size: 1.5em;
  margin-top: 0;
}

.previewImage {
  min-width: 300px;
  min-height: 200px
}

.previewTextBox {
  margin-left: 20px;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}