.preview {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .preview {
    flex-direction: row;
  }
}

.previewTitle {
  font-size: 1.5em;
  margin-top: 0;
}

.previewImage {
  min-width: 300px;
  min-height: 200px;
}

.previewTextBox {
  margin-left: 20px;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}
